.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}


@media  (max-width: 900px ){
    .grid-container {
        grid-template-columns: 20% auto 20%;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }
   
}

.content-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}