<div class="p-grid">
    <div class="p-col-2 p-lg-2 p-md-12 p-sm-12 left-nav" >
        <app-navigation></app-navigation>
    </div>
    <div class="p-col-9  p-lg-9 p-md-12 p-sm-12 container">
        <h1>{{category}} </h1>
        <!-- <h2>{{collection.name}}</h2> -->
        <div class="p-grid">
        <div *ngFor="let item of collectionList" class="p-col-3 p-lg-3  p-md-12 p-sm-12" style="border:1px solid #ccc;margin: 0px 5px">
           <!-- <div *ngFor="let item of collectionList;" > -->
                <div class="p-grid">
                    <div class="p-col-12" style="text-align:center">
                        <h3>{{item.title}}</h3>
                    </div>
                    <div class="p-col-6">
                            <img src='assets/images/{{item.img}}' >
                    </div> 
                    <div class="p-col-6">
                      <app-details [character]="item.name" [detailsId]="item.id"></app-details> 
                    </div>    
                </div>
                <div style="text-align:center">
                    <span class="p-buttonset">
                        <button pButton type="button"
                             label="Edit" icon="pi pi-pencil"
                             (click)="editButtonPressed(item.name, item, category)" ></button>
                        <button pButton type="button" label="Delete" icon="pi pi-trash"></button>
                    </span>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>

<p-dialog  [(visible)]="display" 
    [draggable]="false" 
    [dismissableMask]="false"
    [focusTrap]="true"
    [blockScroll]="true"
    [closable]="true"
    [focusOnShow]="true"
    header="{{category}}"
    [style]="{width: '800px'}"
    [contentStyle]="{ overflow:'visible', backgroundColor: 'white', color:'black'}"
   >
   <form #f="ngForm" id="f" name="f">
        <div *ngIf="display" class="p-grid">
            <div class="p-col-4">
                <img src='assets/images/{{model.img}}' >
            </div>
            <div class="p-col-8">
                <div style="margin-bottom: 5px" class="p-text-right">All fields are required.</div>
                <div class="p-fluid">
                   <label for="type">Title </label>
                    <input class="p-inputtext p-component" 
                            pinputtext 
                            type="text" 
                            id="title"
                            name="title"
                            [(ngModel)]="model.title"
                            #title="ngModel"
                            [ngClass]="{'p-invalid':title.invalid && title.touched}"
                            required
                          
                    >
                    <div *ngIf="title.invalid && title.touched" class="p-error error">Required</div>
                </div>
                <div class="p-fluid">
                    <label for="type">Type {{selectedType.label}}</label>
                    <p-dropdown [options]="typeOptions" 
                        [(ngModel)]="selectedType.value"
                        id="type"
                        name="type"
                    >
                    </p-dropdown>
                    
                   
                </div>
                <div class="p-fluid">
                    <label for="type">Brand</label>
                    <input class="p-inputtext p-component"
                            pinputtext
                            type="text" 
                            id="brand"
                            name="brand"
                            [(ngModel)]="model.brand"
                            #brand = "ngModel"
                            [ngClass]="{'p-invalid':brand.invalid && brand.touched}"
                            required
                    >
                    <div *ngIf="brand.invalid && brand.touched" class="p-error error">Required</div>
                </div>
                <div class="p-fluid">
                    <label for="type">Price</label>
                    <input class="p-inputtext p-component"
                            pinputtext
                            type="text"
                            id="price"
                            name="price"
                            [(ngModel)]="model.price"
                            #price = "ngModel"
                            [ngClass]="{'p-invalid':price.invalid && price.touched}"
                            required
                    >
                    <div *ngIf="price.invalid && price.touched" class="p-error error">Required</div>
                </div>
                <div class="p-fluid">
                    <label for="type">Condition</label>
                    <input class="p-inputtext p-component"
                            pinputtext 
                            type="text" 
                            id="condition"
                            name="condition"
                            [(ngModel)]="model.condition"
                            #condition = "ngModel"
                            [ngClass]="{'p-invalid':condition.invalid && condition.touched}"
                            required
                    >
                    <div *ngIf="condition.invalid && condition.touched" class="p-error error">Required</div>
                </div>
            </div>    
        </div>
        <p-footer>
            <div class="p-text-center">
                <button pButton class="p-button-secondary" 
                        type="button"
                        label="Save"
                        (click)="saveDialog()"
                        [disabled] = "!f.valid" >
                </button>
                <button pButton class="p-button-secondary" 
                        type="button" 
                        label="Cancel"
                        (click)="cancelDialog()"  >
                </button>
            </div>
        </p-footer>
    </form>
</p-dialog>