<div class="p-grid">
    <div class="p-col-2 p-lg-2 p-md-12 p-sm-12 left-nav" >
        <app-navigation></app-navigation>
    </div>
    <div class="p-col-9  p-lg-9 p-md-12 p-sm-12 container">
        <h1>{{category}} </h1>
        <div *ngFor="let collection of collectionList">
            <h2>{{collection.name}}</h2>
            <div class="p-grid">
            <div *ngFor="let item of collection.details;" class="p-col-3 p-lg-3  p-md-12 p-sm-12" style="border:1px solid #ccc;margin: 0px 5px">
                <div class="p-grid">
                    <div class="p-col-12" style="text-align:center">
                        <h3>{{item.name}}</h3>
                    </div>
                    <div class="p-col-6">
                            <img src='assets/images/{{item.img}}' >
                    </div> 
                    <div class="p-col-6">
                        <app-details [character]="collection.name" [detailsId]="item.id"></app-details>
                    </div>    
                </div>
                <div style="text-align:center">
                    <span class="p-buttonset">
                        <button pButton type="button"
                             label="Edit" icon="pi pi-pencil"
                             (click)="editButtonPressed(collection.name, item)" ></button>
                        <button pButton type="button" label="Delete" icon="pi pi-trash"></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog  [(visible)]="display" 
    [draggable]="false" 
    [dismissableMask]="false"
    [focusTrap]="true"
    [blockScroll]="true"
    [closable]="true"
    [focusOnShow]="true"
    header="dddd"
    [style]="{width: '650px', minWidth: '600px'}"
    [contentStyle]="{ overflow:'visible', backgroundColor: 'white', color:'black'}"
   >
   <form #f="ngForm" id="f" name="f">
        <div *ngIf="display" class="p-grid">
            <div class="p-col-6">
                <img src='assets/images/spidey01.jpg' >
            </div>
            <div class="p-col-6">
                <div class="p-field">
                    <label for="type">Name</label>
                    <input class="p-inputtext p-component" 
                            pinputtext 
                            type="text" 
                            id="name"
                            name="name"
                            [ngModel]="name"
                            required
                    >
                </div>
                <div class="p-field">
                    <label for="type">Type</label>
                    <input class="p-inputtext p-component" 
                            pinputtext 
                            type="text" 
                            id="type"
                            name="type"
                            [ngModel]="type"
                            required
                    >
                </div>
                <div class="p-field">
                    <label for="type">Brand</label>
                    <input class="p-inputtext p-component"
                            pinputtext
                            type="text" 
                            id="brand"
                            name="brand"
                            [ngModel]="brand"
                            required
                    >
                </div>
                <div class="p-field">
                    <label for="type">Price</label>
                    <input class="p-inputtext p-component"
                            pinputtext
                            type="text"
                            id="price"
                            name="price"
                            [ngModel]="price"
                            required
                    >
                </div>
                <div class="p-field">
                    <label for="type">Condition</label>
                    <input class="p-inputtext p-component"
                            pinputtext 
                            type="text" 
                            id="condition"
                            name="condition"
                            [ngModel]="condition"
                            required
                    >
                </div>
            </div>    
        </div>
        <p-footer>
            <button pButton class="p-button-secondary" 
                    type="button"
                    label="Save"
                    (click)="saveDialog()"
                    [disabled] = "!f.valid" ></button>
            <button pButton class="p-button-secondary" 
                    type="button" 
                    label="Cancel"
                    (click)="cancelDialog()"  ></button>
        </p-footer>
    </form>
</p-dialog>