.left-nav {
    background-color: #2F4F4F;
    height: 100vh;
}

.container {
    margin: 0px 10px;
}


// .dark-panel.p-panel {
//     .p-panel-titlebar {
//         background: #212121;
//     }
//   }