header {
    background-color: rgb(0, 101, 253);
    padding: 5px;
}
 
 h2 { 
    padding: 10px;
    margin: 0px;
    color: white;
 }

 /* need to figure out */
 .p-tabmenuitem {color: green;background-color: green;}