.container { margin-top: 15px;}

p-card {text-align: center;}
p-footer { 
    font-weight:bold
}
a { 
    color: aquamarine;
     text-decoration:none
}

a:hover, a:visited {
    color: aquamarine;
    text-decoration:underline
}