<div class="p-grid container" >
    <div class="p-col-3 p-lg-3 p-md-12 p-sm-12"></div>
    <div class="p-col-6 p-lg-6 p-md-12 p-sm-12">
        <div class="p-grid">
            <div class="p-col-4 p-lg-4 p-md-12 p-sm-12">
                <p-card class="hover">
                    <img src="assets/images/spidey01.jpg" alt="Action Figures" />
                    <p-footer>
                        <a [routerLink]="['/main', 'Action Figure']">Action Figures</a>
                    </p-footer>
                </p-card>
            </div>
            <div class="p-col-4 p-lg-4 p-md-12 p-sm-12">
                <p-card>
                <img src="assets/images/batman01.jpg" alt="Statues" />
                    <p-footer>
                        <a [routerLink]="['/main', 'Statue']" >Statues</a>
                    </p-footer>
                </p-card>
            </div>
            <div class="p-col-4 p-lg-4 p-md-12 p-sm-12">
                <p-card>
                    <img src="assets/images/batman_bust.jpg" alt="Bust" />
                    <p-footer>
                        <a [routerLink]="['/main', 'Bust']">Bust</a>
                    </p-footer>
                </p-card>
            </div>
            <div class="p-col-4 p-lg-4 p-md-12 p-sm-12">
                <p-card>
                    <img src="assets/images/batman_bust.jpg" alt="Dioramas" />
                    <p-footer>
                        <a [routerLink]="['/main', 'Diorama']">Dioramas</a>
                    </p-footer>
                </p-card>
            </div>
            <div class="p-col-4 p-lg-4 p-md-12 p-sm-12">
                <p-card>
                    <img src="assets/images/batman_bust.jpg" alt="Misc" />
                    <p-footer>
                        <a [routerLink]="['/main', 'Misc']" >Misc</a>
                    </p-footer>
                </p-card>
            </div>
        </div>
    </div>
    <div class="p-col-3 p-lg-3 p-md-12 p-sm-12"></div>
</div>
<div class="p-grid">
     <div class="p-col-3"></div>
</div>