.center {text-align: center}

.grid-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 10% auto 10% ;
    grid-column-gap: 10px;
}


@media  (max-width: 900px ){
    .grid-container {
        grid-template-columns: 20% auto 20%;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }
   
}

